:root {
  --bacround: #ced8e0;
  --yello: gold;
  --darkGreen: darkgreen;
  --lightGreen: lightgreen;
  --radus: 5px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
/* ----------------- nav ----------------- */

nav {
  padding: 0 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bacround);
  border-bottom-left-radius: var(--radus);
  border-bottom-right-radius: var(--radus);
}
nav div {
  display: flex;
  align-items: center;
  gap: 2vw;
}
nav img {
  height: 10vh;
}

/* ----------------- presentation ----------------- */

.Presentation {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
}

.Presentation img {
  margin-top: 2vh;
  width: 45%;
  object-fit: contain;
}

/* ----------------- best sellers ----------------- */

.bestSellers {
  margin: 4vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.bestSellers > div {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
}

.bestSellers img {
  width: 20vw;
  height: 40vh;
  object-fit: cover;
}

/* -----------------big breath ----------------- */

progress {
  background-color: lightgrey;
  border-radius: var(--radus);
  border: none;
}

.bigBreath {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.progressYello::-moz-progress-bar,
.progressYello::-webkit-progress-value {
  background: var(--yello);
}
.progressYello {
  color: var(--yello);
}

.progressLightGreen::-moz-progress-bar,
.progressLightGreen::-webkit-progress-value {
  background: var(--lightGreen);
}
.progressLightGreen {
  color: var(--lightGreen);
}

.progressdarkGreen::-moz-progress-bar,
.progressdarkGreen::-webkit-progress-value {
  background: var(--darkGreen);
}
.progressdarkGreen {
  color: var(--darkGreen);
}

.worldWide {
  display: flex;
}

.worldWide > img {
  object-fit: contain;
  height: 80vh;
  width: 60vw;
}
.bigBreathSelect {
  background-color: var(--bacround);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;
  width: 40vh;
  border-radius: var(--radus);
  padding: 0 5vw;
}

.bigBreathSelect > div {
  display: flex;
  flex-direction: column;
  border: darkgray solid 2px;
  padding: 10%;
  width: 100%;
  border-radius: var(--radus);
}

.bigBreathSelect > div:nth-child(1) {
  align-items: center;
}

.bigBreathSelect > div:nth-child(2) {
  gap: 2vh;
}

/* ----------------- our mission ----------------- */

.missionStats {
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
}

.missionStats div {
  border: darkgray solid 2px;
  background-color: var(--bacround);
}

.missionStats h2 {
  font-size: 3.5em;
  font-weight: 300;
}
.missionStats h3 {
  font-weight: 300;
  font-size: 2.5em;
}
.missionStats h4 {
  font-weight: 300;
  font-size: 1.5em;
}
.missionStats h1 {
  font-weight: bold;
  font-size: 4em;
}
.missionStats > div:nth-child(2) {
  font-weight: bold;
  font-size: 5em;
  width: 20vw;
  text-align: center;
}

.argument > h1 {
  font-size: xx-large;
  font-weight: 300;
  text-align: center;
  margin: 4vh 0;
}

.argumentContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2vh;
  padding: 0 30vh;
  text-align: center;
  font-size: 2em;
  margin-bottom: 4vh;
}
.argumentContainer > div {
  background-color: var(--bacround);
  border-radius: var(--radus);
}

.argumentContainer > div:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}
.argumentContainer > div:nth-child(2) {
  grid-area: 3 / 3 / 4 / 5;
}
.argumentContainer > div:nth-child(3) {
  grid-area: 2 / 5 / 3 / 7;
}
.argumentContainer > div:nth-child(4) {
  grid-area: 4 / 6 / 5 / 8;
}
.argumentContainer > div:nth-child(5) {
  grid-area: 5 / 4 / 6 / 6;
}
.argumentContainer > div:nth-child(6) {
  grid-area: 4 / 1 / 5 / 3;
}

/* ----------------- benefits ----------------- */
.study {
  font-size: 4em;
  margin: 4vh 20vw;
  padding: 10vh 2vw;
  text-align: center;
  background-color: var(--bacround);
  border-radius: var(--radus);
  border: darkgray solid 2px;
}

.studyArgument {
  font-size: 2em;
}

.studyArgument > div {
  display: flex;
  justify-content: space-between;
  margin: 0 15vw;
  margin-bottom: 4vh;
  gap: 3vw;
}

.studyArgument > div > img {
  height: 30vh;
  width: 40vh;
  object-fit: cover;
}

.studyArgument > div > div {
  display: flex;
  align-items: center;
}

.studyArgument > div:nth-child(1) > div {
  text-align: left;
}

.studyArgument > div:nth-child(2) > div {
  text-align: right;
}
